/* ------------ BOTONES ----------- */

.titulo-sin-acceso{
    width: 1400px;
    height: 30px;
    text-decoration: none;
	font-weight: bold;
    background-color: #EBDC45;
    color: black;
    display: inline-block;
    transition: background-color 1s;
    padding: 20px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(122, 10, 0);
    
}




.boton-para-login{
    width: 200px;
    height: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    transition: background-color 1s;
    padding: 20px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(122, 10, 0);
}