
/* ------------ BOTONES ---------- */

.btn-continuar
{
    margin-left: 20%;
}
/* ------------ RENGLONES ---------- */

.renglones
{
    background-color: #ECECEC;
    padding: 10px;
}

.renglon-semana
{

    width: 120%;
    float: right;
    margin-top: 30px;
}

#seccion-renglones
{
    margin: 5%px;
}

/* ------------ LABELS ---------- */


label
{
    margin-left: 10%;
    color: dimgrey;
    font-size: 20px;
}

.division
{
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    width: 20%;
    margin-left:10%;
}
