body
{
   /* background: #cc1605;*/
    background-image: radial-gradient(farthest-corner at 100px 400px, rgb(245, 30, 10) 30%, rgb(204, 22, 5) 100%);

}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



.half-screen
{
    width: 50%;
    height: 600px;

    
}

.logo-container
{
    height: 200px;
    width: 350px;
    background: white;
    display: block;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 5%;
    padding-left: 10px;
    box-shadow: 5px 5px 10px rgb(122, 10, 0);
    margin-bottom: 30px;
    box-sizing: border-box;

}

.input-text, .btn 
{ 
    height: 50px;
    width: 350px;
    margin-left: 35%;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 10px rgb(122, 10, 0);
}

.input-text
{

    font-size: x-large;
    color: gray;

}

.img-logo
{
    height:auto;
    width: 40%;
    padding-left: 30%;
    padding-top: 7%;
}


.container
{
   /*background: linear-gradient(280deg, rgba(255, 255, 255, 0.041) 50%, rgba(255, 255, 255, 0.349)70%);*/
    height: 550px;
    
}




.btn-ingresar
{
    width: 350px;
    height: 60px;
    box-shadow: 5px 5px 10px rgb(122, 10, 0);
    text-align: center;
    font-size: 25px;
    transition: background 1s;


}

