body {
   padding: 0;
   margin: 0;
   background:#000000;
   background: radial-gradient(circle,rgb(241, 35, 12)0%, rgb(187, 19, 0)100%);
   
   font-family: "Lato", sans-serif;
}
.seccion{
    margin-top:5% ;
    margin-bottom: 50%;
    
}

/* ------------ BOTONES ----------- */


.boton-menu{
    width: 200px;
    height: 150px;
    text-decoration: none;
    background-color: azure;
    color: black;
    display: inline-block;
    transition: background-color 1s;
    padding: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(122, 10, 0);
    
}
.boton-menu:hover{
    text-decoration: none;
    background-color:  rgb(32, 32, 32);
    transition: background-color 1s;
    color: beige;
}
.row-menu{
    margin-left: 18vw;
    margin-top: 10px;
    margin-right: 10%;
}

.menu
{
    width: 100%;

}


.boton_return{
	width: 20px;
    height: 20px;
    text-decoration: none;
    background-color: azure;
    color: black;
    display: inline-block;
    transition: background-color 1s;
    padding: 20px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(122, 10, 0);
}

.botones
{
  background-repeat:no-repeat;
  background-position:center;
  background-size: 100px 100px;
}
.nomina{
	background-image:url(../img/menu/nomina.png);

}

.vacaciones{
	background-image:url(../img/menu/viaje.png);

}

.c_trabajo{
	background-image:url(../img/menu/documento.png);

}
.encuesta{
	background-image:url(../img/menu/checklist.png);

}
.mas{
	background-image:url(../img/menu/mas.png);

}
.constancia{
	background-image:url(../img/menu/folder.png);

}
.citas{
	background-image:url(../img/menu/cita.png);

}
.sugerencias{
	background-image:url(../img/menu/sugerencias.png);

}
.repuestos{
	background-image:url(../img/menu/lentes.png);

}
.cursos{
	background-image:url(../img/menu/cursos.png);

}
.prenomina{
	background-image:url(../img/menu/nomina.png);

}
.regresar{
	background-image:url(../img/menu/regresar.png);
}


@media screen and ( max-width: 600px)
{
    body{
        background: rgb(190, 14, 14);
    }

    .boton-menu
    {
        width: 100%;
        margin: 2%;
    }
}


