/* ------------ CONFIGURACION GENERAL ----------- */
body
{
    background: white;
}
section
{
    padding-bottom: 10px;

}

/* ------------  ----------- */

.user-logo
{
    margin-top: 1%;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 45%;
}
/* ------------ NUMERO DE EMPLEADO----------- */

h2
{

    display: block; 
    height: 40px;
    text-align: center;
    margin-left: 23%;
    width: 700px;
    border-radius: 10px;
    color: #ddd;



}

/* ------------ BARRA SUPERIOR ----------- */
.top-barr
{
    background: rgb(255,27,0);
}

/* ------------ NUMERO SUPERIOR INFERIOR ---------- */
.top-barr, .bottom-barr
{
    width: 100%;
    height: 50px;

}


/* ------------ BARRA INFERIOR ---------- */
.bottom-barr
{
    background-color: #3C3C3B;
}



/* ------------ BOTONO CONTINUAR---------- */

.btn-continuar
{
    width: 300px;
    margin-bottom: 15px;
    margin-left: 70%;
    box-shadow: 3px 3px 10px black;
    border: 3px #ddd;
}

/* ------------ BOTON SALIR ---------- */

.btn-salir
{

margin-left: 0px;
border-radius: 0px;


}

.btn:hover
{
    background:  #454543;
    transition: background 300ms;
    
}
/* ------------ RENGLONES DE INFORMACIÓN ---------- */

.renglones
{
    display: inline-block;
    background-color: #ECECEC;
    margin-left: 10%;
    padding: 10px;
}

.renglon-semana
{

    width: 40%;
    margin-left: 20%;
  
}

.renglon-semana, .renglon-nomina
{
    height: 20px;
    border-radius: 5px;
}
.renglon-nomina
{
    width: 100px;
}
/* ------------ TITULOS DE INFORMACION ---------- */

#seccion-renglones
{
    margin-bottom: 5%;
}

td
{
    padding-left: 300px;
 
    
}
table
{
    margin-left: 15%;
}